# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
ENV/

# IDE
.idea/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db


# Generated outputs
resources/security_report.xlsx